@use "../../../scss/" as *;

.credit {
    height: 100%;
    overflow: hidden;
    @include flex(center, center);

    video {
        position: absolute;
    }

    &__content {
        position: relative;

        .title {
            text-align: center;
        }

        .btns > * ~ * {
            margin-left: 1rem;
        }
    }
}
